In [1]:
import pandas as pd

In [8]:
amazon_products_df =  pd.read_csv("C:/ComputerScience/datasets/amazon_products.csv")
amazon_products_df.head(3)

,asin,title,imgUrl,productURL,stars,reviews,price,listPrice,category_id,isBestSeller,boughtInLastMonth
0,B014TMV5YE,"Sion Softside Expandable Roller Luggage, Black...",https://m.media-amazon.com/images/I/815dLQKYIY...,https://www.amazon.com/dp/B014TMV5YE,4.5,0,139.99,0.00,104,False,2000
1,B07GDLCQXV,Luggage Sets Expandable PC+ABS Durable Suitcas...,https://m.media-amazon.com/images/I/81bQlm7vf6...,https://www.amazon.com/dp/B07GDLCQXV,4.5,0,169.99,209.99,104,False,1000
2,B07XSCCZYG,Platinum Elite Softside Expandable Checked Lug...,https://m.media-amazon.com/images/I/71EA35zvJB...,https://www.amazon.com/dp/B07XSCCZYG,4.6,0,365.49,429.99,104,False,300

In [15]:
amazon_categories_df =  pd.read_csv("C:/ComputerScience/datasets/amazon_categories.csv")
amazon_categories_df.head(3)

   id                category_name
0   1     Beading & Jewelry Making
1   2            Fabric Decorating
2   3  Knitting & Crochet Supplies

# Preprocessing and data cleaning:

### Amazon products dataset is considered a relatively large dataset:

In [12]:
amazon_products_df.index

RangeIndex(start=0, stop=1426337, step=1)

In [13]:
amazon_categories_df.index

RangeIndex(start=0, stop=248, step=1)

In [14]:
amazon_products_df.dtypes

asin                  object
title                 object
imgUrl                object
productURL            object
stars                float64
reviews                int64
price                float64
listPrice            float64
category_id            int64
isBestSeller            bool
boughtInLastMonth      int64
dtype: object

In [20]:
amazon_categories_df.dtypes

id                int64
category_name    object
dtype: object

### there is just one null value for this large dataset!

In [25]:
amazon_products_df.isnull().sum()

asin                 0
title                1
imgUrl               0
productURL           0
stars                0
reviews              0
price                0
listPrice            0
category_id          0
isBestSeller         0
boughtInLastMonth    0
dtype: int64

In [26]:
amazon_categories_df.isnull().sum()

id               0
category_name    0
dtype: int64

# Data analysis

### So the mean of all products start is equal to almost 4 which may show that people are satisified with the products that amazon provides

In [37]:
pd.set_option('display.float_format', '{:.4f}'.format)
amazon_products_df.describe()

,stars,reviews,price,listPrice,category_id,boughtInLastMonth
count,1426337.0000,1426337.0000,1426337.0000,1426337.0000,1426337.0000,1426337.0000
mean,3.9995,180.7508,43.3754,12.4492,123.7409,141.9823
std,1.3443,1761.4530,130.2893,46.1120,73.1127,836.2720
min,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000
25%,4.1000,0.0000,11.9900,0.0000,65.0000,0.0000
50%,4.4000,0.0000,19.9500,0.0000,120.0000,0.0000
75%,4.6000,0.0000,35.9900,0.0000,176.0000,50.0000
max,5.0000,346563.0000,19731.8100,999.9900,270.0000,100000.0000

            id
count 248.0000
mean  133.8750
std    77.1324
min     1.0000
25%    67.5000
50%   137.5000
75%   199.2500
max   270.0000

In [48]:
print("The count of categories is equal to" , amazon_categories_df.describe().values[0][0])

The count of categories is equal to 248.0